#furniture-detail-container {
    display: flex;
    height: 605px;
    width: 81%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}


/* buy btn */
#buy-now-btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 8px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 1px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: var(--orange);
    height: 48px;
}

#buy-now-btn:hover {
    background-color: #d36300;
}


#add-to-cart-btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 8px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 1px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: var(--bs-blue);
    height: 48px;
}

#add-to-cart-btn:hover {
    background-color: #0052cb;
}