* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about {
    padding-top: 80.25px;
}

/* section css */
.section-default {
    text-align: center;
    color: white;
    background-color: black;
    display: block;
    overflow: hidden;
    transition: 0.4s all ease-in-out;
    height: 50vh;
    background-size: cover;
    background-position-y: center;
}

.section-default .heading-center {
    font-weight: 700;
    font-size: 3.5rem;
    -webkit-text-stroke: 1.5px black;
    line-height: 50vh;
    background-color: rgba(0, 0, 0, 0.2);
}

/* home css */
.section-default .heading-left {
    font-weight: 600;
    font-size: 4rem;
    -webkit-text-stroke: 1.5px black;
}

.left-container {
    text-align: left !important;
    margin-left: 10%;
    margin-top: 16%;
}

.read-more {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1% 2%;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid black;
}

.read-more:hover {
    background-color: lightgray;
    color: black;
}

.discover-header {
    text-align: center;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1.5px black;
    padding: 4%;
    font-weight: 700;
}

.discover-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0% 9.5%;
    background-color: white;
    border-radius: 10px;
}

.discover-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 4%;
    align-items: center;
}

.discover-item img {
    width: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30%;
}

.ditem-text {
    width: 40%;
}

/* category css */
.category-zoom:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.3);
}

.category-items img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

/* furniture css */
.furniture-slider {
    height: 50vh;
    background-size: cover;
    background-position-y: center;
}

.img-hover-zoom:hover {
    transform: scale(1.1);
}

.fur-img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.sort-button {
    height: 40px;
    color: white;
    background: black;
    padding: 20% 80%;
    margin-top: 24px;
    margin-left: 22%
}

.search-bar {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10%;
    margin-top: 24px;
}

.bd-gray {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* producer css */
/* inspiration css */
.is-diviver-2 {
    margin-left: auto;
    margin-right: auto;
    background-color: #bebebf;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 2px;
    width: 100%;
    max-width: 95%;
}

.bd-left{
    border-radius: 100px 00px 00px 100px;;
}

.bd-right{
    border-radius: 00px 100px 100px 00px;;
}

.carousel {
    margin-top: 8%;
}
.carousel-cell {
    width: 66%;
    height: 500px;
    margin-right: 270px;
    border-radius: 15px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.carousel-cell:before {
    display: block;
    content: '';
}

/* about css */

/*other*/
.opacity-7 {
    opacity: 0.7;
}

.fw-bold-2 {
    font-weight: 500 !important;
}

.bd-rd {
    border-radius: 100px 100px / 120px;
}

.is-diviver {
    margin-left: auto;
    margin-right: auto;
    background-color: #bebebf;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 2px;
    width: 100%;
    max-width: 30px;
}

.w-s {
    width: 398px;
}

.bd-gray {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.success-alert {
    top: 100px;
    right: 20px;
    box-shadow: 1px 1px green;
    animation: fadeOut 5s;
}

.fa-x:hover {
    cursor: pointer;
}

/*order success*/
.btn-order-success {
    color: #fff;
    background-color: yellowgreen;
    border-color: yellowgreen;
    font-size: 18px;
    border-radius: 28px;
    padding: 6px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.btn-order-success:hover {
    color: #fff;
    background-color: #82ab26;
    border-color: #82ab26;
}